*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html , body{
    width: 100%;
    height: 100%;
}

#background{
    height: 100%;
    width: 100%;
    background-color: white;
    overflow: hidden;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 60px;
    height: 14%;
    border: 1.5px solid #dadadada;
}

#links a{
    display: inline-block;
    text-decoration: none;
    margin-right: 70px;
    font-size: 14px;
    color: black;
    font-weight: 700;
}

#rightopt a{
    text-decoration: none;
    margin-right: 20px;
    color: black;
    font-weight: 700;
}

#rightopt i{
    font-size: 20px;
}


#red{
    color: rgb(218, 69, 69);
}

#main{
    display: flex;
    width: 100%;
    height: 75%;
    /* background-color: red; */
}

#left{
    position: relative;
    width: 50%;
    height: 100%;
    /* background-color: blue; */
}

#heading{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50% , -50%);
}

#heading h1{
    /* left: 48%; */
    font-size: 70px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

 #line{
    width: 25%;
    height: 4px;
    background-color: black;
}

#heading p{
    margin-top: 40px;
    font-size: 12px;
}

#heading button{
    padding: 10px 40px;
    margin-top: 30px;
    margin-left: 60px;
    letter-spacing: 3px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    border: 1.3px solid black;
}


#right{
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

#right img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) scale(2);
    height: 100%;
    width: 100%;
    object-fit: cover;
}


#credits{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: calc(100% - 14% - 75%);
    background-color: white;
    border: 1.5px solid #dadadada;
}

#credits img{
    width: 75px;
    filter: grayscale();
    opacity: 0.5;
}
