*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html,body{
    width: 100%;
    height: 100%;
}

#back{
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

#left{
    width: 75%;
    height: 100%;
    background-color: #fff;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 30px;
    /* background-color: yellow; */
}

#brandnlinks{
    display: flex;
    align-items: center;
}

#brandnlinks h3{
    margin-right: 30px;
}


#brandnlinks a{
    margin-left: 30px;
    text-decoration: none;
    color: black;
}

#border{
    padding-bottom: 5px;
    margin-top: 7px;
    border-bottom: 2px solid rgb(76, 106, 146);
}

#brandnlinks h3{
    color: orangered;
}

#nav button{
    padding: 20px 27px;
    background-color: rgb(44, 172, 231);
    color: #fff;
    border: none;
    font-size: 17px;
    border-radius: 100px;
}

#nav button i{
    font-size: 14px;
    margin-right: 20px;
}

#bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 40px;
    height: calc(100% - 100px);
    /* background-color: red; */
}

#blft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 8%;
    height: 100%;
    padding: 150px 0;
    border-top-right-radius: 40px;
    background-color: orangered;
}

#blft i{
    color: #fff;
    font-size: 20px;
    /* background-color: red; */
}

#selected{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 12px !important;
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: orangered !important;
}

#brght{
    width: 90%;
    height: 100%;
    /* background-color: orchid; */
}

#graph{
    overflow: hidden;
    width: 100%;
    height: 300px;
    border-radius: 20px;
    border-top-left-radius: 50px;
    background-size: cover;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1565869812436-a480bda13b6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=1789&q=80);
}

#overlay{
    position: relative;
    width: 100%;
    height: 100%;
    /* border-radius: 20px; */
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.6));
}

#overlay h3{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 30px;
    width: 70%;
    font-weight: 300;
    color: #fff;
}

#articlestats{
    width: 100%;
    height: 200px;
    margin-top: 30px;
    /* background-color: red; */
}

#articlestats h3{
    font-size: 20px;
    font-weight: 600;
}

#articlestats .article{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border-top-left-radius: 30px;
    /* background-color: rgb(125, 198, 212); */
    background-color: rgb(241, 246, 247);
}

.artclimg{
    width: 70px;
    height: 70px;
    border-radius: 7px;
    border-top-left-radius: 22px;
    background-size: cover;
    background-position: center;
}

#art1{
    background-image: url(https://images.unsplash.com/photo-1503919545889-aef636e10ad4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80);
}

.artdets{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    /* background-color: red; */
}

.artdets #btngrp button{
    padding: 6px 22px;
    background-color: rgb(240, 66, 66);
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
}





















































#right{
    width: 25%;
    height: 100%;
    padding: 0 40px;
    background-color: rgb(234, 238, 240);
}

#icons{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

#icons i{
    font-size: 20px;
    opacity: .5;
}

#profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: rgb(17, 71, 99);
    /* height: 200px; */
    margin-top: 30px;
    /* background-color: red; */
}

#prflimg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1521117660421-ce701ed42966?ixlib=rb-1.2.1&auto=format&fit=crop&w=1460&q=80);
}

#profile h2{
    margin: 10px 0;
}

#profile h5{
    margin-top: -5px;
    opacity: .5;
}

#stats{
    width: 100%;
    /* height: 200px; */
    margin-top: 30px;
    /* background-color: red; */
}

.stat{
    display: flex;
    align-items: center;
    width: 100%;
    /* height: 50px; */
    margin-top: 20px;
    /* background-color: yellow; */
}

.stat h5{
    margin-left: 30px;
}

#bluestat{
    color: royalblue;
}

#salmon{
    color: salmon;
}

#writings{
    width: 100%;
    height: 200px;
    /* background-color: red; */
    margin-top: 40px;
}

.writing{
    display: flex;
    width: 100%;
    /* height: 100px; */
    /* background-color: yellow; */
    margin-top: 20px;
}

.wdets{
    width: 70%;
    /* background-color: red; */
    margin-left: 20px;
}

.wdets p{
    font-size: 12px;
}

.wimg{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80);
}